.review-list {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.review-list h3 {
  text-align: center;
  color: #333;
}

.review-list ul {
  list-style-type: none;
  padding: 0;
}

.review-list li {
  background-color: #b0a77e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.review-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.review-list li p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.review-list button {
  background-color: #6d6845;
  border: none;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 5px;
  transition: background-color 0.3s;
}

.review-list button:hover {
  background-color: #dbcc93;
}

.no-reviews {
  text-align: center;
  color: #333;
}
